# This is a sample input configuration file

# Number of days to calibrate for (between 1 and 3)
NUMDAYS = 1

# First Day of Year
FIRSTDOY = 2

# Year 
YEAR = 2016

# Input data directory 
INPDIR = samples

# GNSS Constellations to process
# Any combination of G,R,E,B
# G=GPS, R=GLONASS, E=Galileo, C=BeiDou
SATSYS = GREC

# Sampling time interval (vTECeq Coefficients freez duration) in minutes
SAMPLINGTIME = 10

# minimum data duration(in Seconds) to consider an arc valid.
MINARCLEN = 120

# Maximum gap duration (in Seconds) to interpolate.
INTRPOLINTRVL = 300

# Degree of Interpolation, passed to lagrangeInterpolation.
DEGREE = 6

# Marker Name (Station)
MARKER = rdsd

# Number of coefficients in vTECeq polynomial (6 or 9)
NUMCOEFFS = 6

# Reference Height of Ionosphere in Kms
REFHEIGHT = 350


